.section-title{
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
  color: #000;
  text-align: center;
}

.section-title--white{
  color: var(--primary-background-color);
}

.section-subtitle{
  max-width: 500px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--sub-text-color);
  text-align: center;
}