.navigation-wrapper {
  box-shadow: var(--shadow-navigation) ;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 6fr 3fr 3fr;
  align-items: center;
  gap: 0 30px;
  padding: 10px 0px;
}

.navigation__logo-icon {
  width: 53px;
  height: 58px;
}

.navigation__menu {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.navigation__link {
  font-size: 18px;
  line-height: normal;
}

.profile {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile__text {
  font-size: 18px;
  line-height: 21px;
}

.profile__icon {
  width: 32px;
  height: 32px;
}